# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Flask / SQLite Database & Chroma DB (highly recommended to keep private and local)
instance/
uploads/

# User-specific configuration
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
